.wrapper
  .container
    .col.intro-image
      .image-container
    .col.text-container
      .intro
        h1 O hai! My name is
          | &#32;
          span.pink.i  Krisztian
          | &#32;and I’m your next&#32;
          span.pink.i designer
          | .
        .text
          p I am a
            span.pink.i  multitalented designer and a problem solver
            |  with past experiences in development and related methods. I like to take every concept apart into pieces and study each part until I understand them. Testing, hacking, thinking outside of the box and striving for the maximum are my working philosophies.
          p Ping me at
            | &#32;
            a(href='mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#107;&#114;&#105;&#115;&#122;&#116;&#105;&#097;&#110;&#104;&#097;&#100;&#105;&#046;&#099;&#111;&#109;')  &#104;&#101;&#108;&#108;&#111;&#064;&#107;&#114;&#105;&#115;&#122;&#116;&#105;&#097;&#110;&#104;&#097;&#100;&#105;&#046;&#099;&#111;&#109;
            | &#32;or&#32;
            a(href='krisztian_hadi_resume_2016.pdf' target="_blank") grab my CV
            | .
      .follow
        .text or even follow me on:
        | &#32;
        a(href='https://twitter.com/krisztian' target="_blank") twitter
        | &#32;
        a(href='https://www.instagram.com/krisztian/' target="_blank") instagram
        | &#32;
        a(href='https://dribbble.com/krisztian' target="_blank") dribbble
        | &#32;
        a(href='https://codepen.io/krisztian/' target="_blank") codepen
        | &#32;
        a(href='https://linkedin.com/in/krisztianhadi' target="_blank") linkedin
